body {
  margin: 0;
  background-color: darkgrey;
  font-family: monospace;
}
header {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {

}
h2 {
  font-size: 5vw;
}
div {
  /* border: 1px solid black; */
}
nav {
  background-color: black;
  color: white;
  margin: 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
nav li {
  display: inline-block;
  height: 19px;
}
nav a {
  color: white;
}
a {
  color: black;
}
p {
  line-height: 1.4em;
}
hr {
  margin-left: 5vw;
  margin-right: 5vw;
  border: 1px solid darkgrey;
}
button {
  margin-top: -6px;
  font-weight: bold;
  font-size: 0.9em;
  background-color: white;
  color: black;
  border: 2px solid darkgrey;
  border-radius: 3px;
  font-family: monospace;
}
.center {
  background-color: lightgrey;
  margin: 3vw;
  padding: 3vw;
  border-radius: 6px
}
.nav-separator {
  font-size: 1.1em;
}
.sectitle {
  text-align: center;
}

.project {
  margin: 2vw 0;
}
